<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>107165390600-nmgglhb1s0gglvqmcln8kehr21cgpi5o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.107165390600-nmgglhb1s0gglvqmcln8kehr21cgpi5o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>107165390600-4bojpqfdcqli41jdj9uq8bu9kffir45l.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDu9j4QV-qn-iYECzr7lbtuX_gTs7ctelo</string>
	<key>GCM_SENDER_ID</key>
	<string>107165390600</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.mealcart</string>
	<key>PROJECT_ID</key>
	<string>mealcart-5d62b</string>
	<key>STORAGE_BUCKET</key>
	<string>mealcart-5d62b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:107165390600:ios:91de49b9ebcb4fcb05febd</string>
</dict>
</plist>